---
const today = new Date();
---

    <footer style="text-align: center;">
      &copy; {today.getFullYear()} Kate Yagi.<br>
      <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal (CC0 1.0) Public Domain Dedication</a>
    </footer>
